.text_white_strong{
    color: white;
}

.task_container {
    display: flex;
    justify-content: space-between;
    background-color: #2a2d38cc;
    max-width: 600px;
    width: 100%;
    padding: 10px;
}

.task_information_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 80%;
}

.task_status_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.task_title {
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
}

.task_description {
    width: 100%;
}

.low_priority {
    color: white;
    background-color: #4CAF50;
    padding: 3px 10px;
    border-radius: 2px;
}

.medium_priority {
    color: white;
    background-color: rgb(231, 231, 71);
    padding: 3px 10px;
    border-radius: 2px;
}

.high_priority {
    color: white;
    background-color: rgb(177, 60, 60);
    padding: 3px 10px;
    border-radius: 2px;
}

.status_image {
    width: 25px;
}

.task_button {
    padding: 5px 30px;
    text-align: center;
    color: white;
    font-weight: 800;
    background-color: #1357af;
    border: none;
    cursor: pointer;
}

.task_button_disabled {
    padding: 5px 30px;
    text-align: center;
    color: white;
    font-weight: 800;
    background-color: grey;
    border: none;   
}