.page_container {
    display: flex;
    max-width: 600px;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.page_button {
    cursor: pointer;
    padding: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: #2a2d38cc;
    border: none;
    border-radius: 3px;
}

.increase_page_button {
    padding-inline: 40px;
    background-color: #1357af;   
}

.decrease_page_button {
    padding-inline: 40px;
    background-color: #1357af;
}

.disabled_button {
    background-color: #2a2d3833;
    color: rgba(255, 255, 255, 0.268);
    cursor: default;
}