* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    color: grey;
}

body {
    background-color: #161b24;
}

                                                        